.avatar-show-img {
  width: 164px;
  height: 164px;
  border: 2px solid #B3B3B3;
  border-radius: 4px;
}

.job-title-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #3A7BD5;
  border-radius: 4px;
  background-color: #2C90DF;
  color: white;
  text-align: center;
  margin-right: 5px;
}

.well.contact-block {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.well.profile-block {
  margin-top: 15px;
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  h3 {
    margin-top: 0;
  }
}

// User Index Page Styles

.user-index-avatar {
  width: 128px;
  height: 128px;
  border: 2px solid #B3B3B3;
  border-radius: 50%;
}

.well.white-bg {
  background-color: white;
}